/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */
:root {
	--dark1: #222831;
	--dark2: #393E46;
	--blue: #00ADB5;
	--light1: #EEEEEE;
	--light2: #FFFFFF;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: Helvetica;
	background: var(--dark1);
	color: var(--light2);
}

h3 {
	color: var(--light1);
}

hr {
	width: 35px;
	height: 2px;
	background-color: var(--blue);
	border: none;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 3rem;
	background-color: var(--light1);
	border-radius: 1rem;
}

div h1 {
	color: var(--dark1);
}

div h3 {
	color: var(--dark2);
}